#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.heading {
  text-align: center;
}
.form-input {
  margin: 10px 0px;
}
input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}

.error {
  color: red;
  font-size: 0.8rem;
  margin-top: 5px;
  text-align: left;
}
